.vp-doc video {
  width: 100%;
  max-width: 100%;
  display: block;
  margin: 1rem auto;
  border-radius: 18px;
  overflow: hidden;
}

@media (min-width: 768px) {
  .vp-doc video {
    width: 77%;
  }
}
